body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
footer{
    text-align: center;
}
@keyframes forgat{
    0%{transform:rotate3d(0)}
    33%{
        transform: rotate3d(1, -1, 0, 60deg) scale(75%) rotate(180deg);
    }
    66%{
        transform: rotate3d(1, 1, 0, 60deg) rotate(0deg );
    }
    100%{transform: rotate3d(0);}
}
header>div{
    animation-name: forgat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-align: center;
}
header img{
    padding:10px;
    border: 1px solid black;
    background-color: #fff;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 5%;
}
header{
    background-color: lightblue;
}
article{
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    text-align: center;
    background-color:black
}
nav>p>a{
    color: rgb(165, 165, 165);
    text-decoration: none;
    transition:color 0.2s;
}
#current, nav>p>a:hover{
    color:rgb(221, 221, 221);
}

.flex{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
}
.flex>div>a>img{
    height: 300px;
    margin:20px;
}
.flex img{
    transition: transform 0.2;
}
.flex img:hover{
    transform:scale(125%);
}
.flexAb{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;   
    align-content: center;
}