body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
footer{
    text-align: center;
}
footer>a{
    color: black;
    text-decoration: none;
}
@keyframes forgat{
    0%{transform:rotate3d(0)}
    33%{
        transform: rotate3d(1, -1, 0, 60deg) scale(75%) rotate(180deg);
    }
    66%{
        transform: rotate3d(1, 1, 0, 60deg) rotate(0deg );
    }
    100%{transform: rotate3d(0);}
}
header>div{
    animation-name: forgat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-align: center;
}
header img{
    padding:10px;
    border: 1px solid black;
    background-color: #fff;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 5%;
}
header{
    background-color: lightblue;
}
article{
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    text-align: center;
    background-color:black
}
nav>p>a{
    color: rgb(165, 165, 165);
    text-decoration: none;
    transition:color 0.2s;
}
article>div>{
    margin-top: 15px;
}
#current, nav>p>a:hover{
    color:rgb(221, 221, 221);
}

.flex{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
}
.flex>div>img{
    height: 300px;
}
.flexAb{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;   
    align-content: center;
}
.over>div>a{
    color:rgb(221, 221, 221);
    text-decoration: none;
    transition:color 0.2s;
}
.over>div{
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    top: 0;
    color:white;
    background-color: rgba(2, 2, 2, 0.25);
    width: 100%;
    height: 100%;
    transition:font-size 0.2s, background-color 0.2s;
    border-radius: 5px;
    border:2px solid black;
}
.over{
    position: relative;
    padding-top: 15px;
    padding-bottom:15px;
    margin:50px;
    width:250px;
    border-radius: 5px;
}
.over>img{
    opacity: 80%;
    transition:filter 0.3s;
    transition-delay: 0.1s;
}
.over:hover>img{
    filter:blur(4px);
}
.over:hover>div{
    font-size: larger;
    background-color: rgba(2, 2, 2, 0.4);
}
.over>div>a:hover{
    color:white;
}
@media screen and (max-width:900px){
    header img{
        width: 12%;
    }
}
@media screen and (max-width:450px){
    header img{
        width: 25%;
    }
    nav{
        flex-flow:column wrap;
    }
}